header {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	align-items: end;
	border-bottom: 0.3rem solid darkgrey;
	color: white;
	background-color: yellow;
}

h1 {
	grid-column: 1/span 2;
	color: orange;
	font-size: 20rm;
	margin-left: 1rem;
}

nav {
	grid-column: 5/ span 2;
	color: white;
	background-color: grey;
}

nav a {
	text-decoration: none;
	color: darkgrey;
	font-size: 4rm;
}

p {
	color: white;
	font-size: 10rm;
	background-color: black;
}
